<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>

    <link rel="stylesheet" href="/css/rentedbooks.css">
</head>
<body>
   

        <table border="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Book</th>
                    <th>Price</th>        
                    <th>Date Rented</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(data.length){
   
                    for(var i = 0; i< data.length; i++) {%> 
                <form action="/order/orders" method="post">
                  <tr>
                      <td> <%= data[i].First_Name %> </td>
                      <td> <input type="hidden" name="description" value="<%= data[i].Book %>"><%= data[i].Book %></td>
                      <td> <input type="hidden" name="price" value="<%= data[i].Price %>"><%= data[i].Price %></td>
                      <td> <%= data[i].Date_Rented %> </td>
                      <td> <%= data[i].duedate %> </td>
                      <td> <input type="hidden" name="stat" value="<%= data[i].Status %>"><%= data[i].Status %></td>
                      <td>
                          <button><a href="/rent/edit/<%= data[i].ID_num %>">EDIT</a></button>
                      </td>
                  </tr>
                  <% }
             
                   }else{ %>
                        <tr>
                            <td colspan="3">No Orders Found</td>
                        </tr>
                   <% } %>   
            </tbody>
            <tfoot>
            </form> 
            </tfoot>
        </table>
</body>
</html>